.navigation {
  &__container {
    @include adaptiv-value("padding-top", 110, 50, 0);
    @include adaptiv-value("padding-bottom", 30, 0, 0);
    font-family: var(--fontFamile-secondary);
    
  }

  &__tittle {
    font-size: 24px;
    span {
      color: rgb(115, 146, 240);

      &:nth-child(2) {
        color: rgb(244, 83, 59);
      }
    }
    text-align: center;
    font-weight: bolder;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: 50px;
    max-width: 900px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 15px;
  }

  &__item {
    display: flex;
    height: 100px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: var(--color-medium) 8px 10px 5px;
    border-radius: 5px;
    background-color: var(--color-second);
    // &:hover {
    //   background-color: var(--color-bg-hover);
    //   box-shadow: inset var(--color-border-hover) 2px 3px 10px;
    //   a{
    //     outline: auto;
    //   }
    // }
  }
}
