.header {
  &__container {
    padding: 0.01px;
    font-family: var(--fontFamile-secondary);
    background-color: var(--color-second);
    color: var(--color-dark);
    @include adaptiv-value("font-size", 36, 16, 0);
  }

  &__tittle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    @include adaptiv-value("padding", 30, 5, 0);
    line-height: 1.2;
    box-shadow: rgba(0, 0, 0, 1) 1px 2px 6px 0px inset,
      rgba(0, 0, 0, 0.5) -1px -3px 6px 0px inset;

    a {
      @include adaptiv-value("width", 200, 140, 0);
      align-self: center;
    }

    span {
      color: rgb(115, 146, 240);

      &:nth-child(2) {
        color: rgb(244, 83, 59);
      }
    }
    h1 {
      text-align: center;
    }
  }
}

.burger {
  // display: flex;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: var(--color-dark);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-dark);
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: #ffffff;
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: #ffffff;
  }
}

@media (min-width: 957px) {
  .nav {
    display: none;
  }
}

@media (max-width: 956px) {
  .burger {
    display: flex;
   
  }
  .tab {
    display: none;
  }

  .nav {
    display: none;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: hidden;
    overflow: hidden;
    
    padding: 50px 40px;
    background-color: #1f2024;
    // animation: burgerAnimation 1s;

    li {
      // display: flex;
      // justify-content: center;
      text-align: center;
      // max-width: 200px;
      border: 3px solid var(--color-bg-border);
      border-radius: 5px;
      color: #fff;
      margin-top: 10px;
      padding: 10px;
    }
  }
}

.tab {
  &__container {
    @include adaptiv-value("padding", 60, 15, 0);
    background-color: rgb(244, 234, 230);

    
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    @include adaptiv-value("gap", 20, 7, 0);
    @include adaptiv-value("padding", 30, 7, 0);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
  }

  &__links {
    background-color: var(--color-second);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    @include adaptiv-value("font-size", 24, 16, 0);
    @include adaptiv-value("padding", 10, 5, 0);
    // padding: 10px;
    width: 100%;
    height: 50px;
    transform: skew(-20deg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 7px;

    span {
      transform: skew(20deg);
    }

    &:focus {
      background-color: var(--color-bg-hover);
      box-shadow: inset var(--color-border-hover) 5px 5px 5px;
      border-top-left-radius: 10px;
    }
  }
}

.tabcontent {
  &__container {
    display: flex;
    // flex-direction: column;
  }

  &__tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  &__generator {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    padding: 10px;
  }

  &__generator-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    max-height: 1000px;
    gap: 20px;
    @include adaptiv-value("margin-bottom", 130, 25, 0);

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 80px;
    }
  }

  &__generator-input {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include adaptiv-value("width", 400, 290, 0);
    // max-width: 600px;
    @include adaptiv-value("padding", 30, 15, 0);
    background-color: var(--color-bg-hover);
    box-shadow: var(--color-border-hover) 0px 3px 8px;
    border-radius: 10px;

    h3 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__input-text {
    input {
      margin-top: 10px;
      background-color: rgba(237, 232, 232, 0.8);
      box-shadow: inset 1px 1px 5px rgba(72, 72, 72, 0.5);
      padding: 0;
      height: 40px;
      text-align: center;
      font-weight: 800;
    }
  }

  &__input-item {
    input {
      max-width: 350px;
    }

    [type="range"] {
      appearance: none;
      width: 100%; /* Ширина ползунка */
      height: 10px; /* Высота трека */
      background: var(--color-second); /* Цвет фона трека */
      box-shadow: inset 0px -3px 7px rgba(0, 0, 0, 0.5);
      border-radius: 5px; /* Скруглённые края трека */
      outline: none; /* Убирает обводку */

      &::-webkit-slider-thumb {
        appearance: none;
        width: 15px; /* Размер ползунка */
        height: 15px;
        background: rgb(235, 78, 54); /* Цвет ползунка */
        border-radius: 50%; /* Скруглённый ползунок */
        cursor: pointer; /* Курсор при наведении */
        box-shadow: inset 1px -3px 5px rgba(0, 0, 0, 0.5); /* Тень */
      }
    }

    label {
      margin-right: 10px;
      cursor: default;
    }
  }

  &__input-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #shadowBoxColor {
      width: 25px;
    }

    #colorTextShadow {
      width: 25px;
    }

    #textColor {
      width: 25px;
    }
  }

  &__generator-preview {
    // overflow: hidden;
    #boxShadow {
      background-color: var(--color-bg-hover);
      // border-radius: 10px;
      @include adaptiv-value("padding", 150, 70, 0);
    }

    #textPreview {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: var(--color-text);
      background-color: var(--color-bg-hover);
      border-radius: 10px;
      @include adaptiv-value("width", 400, 280, 0);
      @include adaptiv-value("height", 350, 150, 0);
    }

    #borderRadiusPreview {
      background-color: var(--color-bg-border);
      border-radius: 20px;
      @include adaptiv-value("padding", 150, 70, 0);
      border: 3px solid var(--color-border);
    }

    #transitionPreview {
      background-color: var(--color-bg-border);
      color: #ffffff;
      width: 200px;
      border-radius: 30px;
      @include adaptiv-value("padding", 100, 50, 0);
      border: 3px solid var(--color-border);
      @include adaptiv-value("font-size", 40, 24, 0);
      // font-size: 40px;
    }

    #transformPreview {
      background-color: var(--color-bg-border);
      border: 3px solid var(--color-border);
      @include adaptiv-value("padding", 150, 50, 0);
      width: 280px;
      height: 3500px;
      border-radius: 20px;
    }
  }

  &__generator-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;

    #transform {
      overflow: hidden;
    }
  }

  &__generator-css {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-hover);
    box-shadow: var(--color-border-hover) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
    @include adaptiv-value("width", 1300, 300, 0);
    // width: 1200px;
    align-self: center;

    pre {
      align-content: center;
      text-align: center;
      text-wrap: wrap;
      font-size: 16px;
      color: rgba(240, 236, 242, 1);
      background-color: rgba(71, 74, 81, 0.6);
      height: 50px;
      border-radius: 5px;
      box-shadow: inset rgba(71, 74, 81, 1) 2px 3px 10px;
    }
  }

  &__generator-css-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
}
.copyButton {
  background-color: rgba(58, 159, 160, 0.7);
  width: 75px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    width: 150px;
    height: 50px;

    &:last-child {
      border-left: 1px solid rgb(226, 182, 182);
    }
    #pixels {
      @include adaptiv-value("padding-bottom", 25, 5, 0);
      @include adaptiv-value("padding-top", 25, 5, 0);
      width: 150px;
    }

    #percent {
      display: none;
      @include adaptiv-value("padding-bottom", 25, 5, 0);
      @include adaptiv-value("padding-top", 25, 5, 0);
      width: 150px;
    }
  }
}

.toggle__btn.active {
  background-color: rgba(49, 51, 58, 0.8);
  color: #ffffff;
}

.item-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  option {
    font-size: 16px;
  }
  display: block;
  @include adaptiv-value("font-size", 16, 12, 0);
  font-weight: 500;
  font-family: inherit;
  color: #444;
  padding: 5px 5px 5px 10px;
  // max-width: 135px;
  width: 40%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0 1px 0 1px rgba(170, 170, 170, 0.3);
  border-radius: 5px;
  background-color: rgb(232, 207, 207, 0.3);

  @media (max-width: 1024px) {
    width: 50%;
  }

  &::-ms-expand {
    display: none;
  }
  &:hover {
    border-color: rgb(170, 170, 170);
  }
  &:focus {
    border-color: rgb(170, 170, 170);
    color: #444;
    outline: none;
  }
  &:option:hover {
    background-color: rgb(232, 207, 207, 0.3);
  }
}
