:root {
  --color-primary: rgb(244, 234, 230);
  --color-second: rgba(58, 159, 161, 0.7);
  --color-wrapper: rgba(9, 22, 28, 0.75);

  --color-text: rgba(54, 69, 79, 0.8);
  --color-dark: rgba(31, 32, 36, 1);
  --color-medium: rgba(31, 32, 36, .8);;
  --color-light: rgba(31, 32, 36, .6);;

  --color-hover: #0056b3;
  --color-active: #003875;

  --color-bg-dark: #343a40;
  --color-bg-light: #f8f9fa;

  --color-border: rgba(54, 132, 152, 0.8);
  --color-bg-border: rgba(54, 132, 152, 0.4);
  --color-border-hover: rgba(54, 132, 152, 1);
  --color-border-active: #868e96;

  --color-bg-hover: #f5f5f5;
  --color-bg-active: #e9ecef;

  --fontFamily-primary: "Roboto Mono";
  --fontFamily-secondary: "Roboto";
  --fontFamily-tittle: "Roboto Serif";
}
